extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Débora Ribeiro

        p.lead.text-light
          | Full Stack JavaScript/Front End Web Developer.

        .portfolio-bio
          p
            | I started the web development journey in April 2019 and haven't stopped learning and trying to get better at it ever since. 
            | I believe that everything is figureoutable, and what I don't know today I can start learning tomorrow.
            | Believe in me today and allow me to be better, as I would like nothing else.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li JavaScript
          li JQuery
          li CSS
          li SCSS
          li HTML
          li Git
          li Node.js
          li npm
          li AJAX
        h6 Contact Info

        ul
          li (+351) 915 968 884 
          li debora.sayhi@gmail.com

        a.button.expanded(href='https://deboraribeiro.netlify.com' target='_blank') Website
        a.button.expanded(href='https://github.com/mindeby' target='_blank') GitHub
        a.button.expanded(href='https://codepen.io/mindeby' target='_blank') Codepen
        a.button.expanded(href='https://twitter.com/mindeby' target='_blank') Twitter
        a.button.expanded(href='https://www.linkedin.com/in/d%C3%A9bora-ribeiro-75351658/' target='_blank') LinkedIn
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
